.Button {
  min-width: 100px;
  min-height: 40px;
  border: 1px solid white;
  border-radius: 3px;
  text-transform: capitalize;
  background-color: white;
}

.Button:hover {
  background-color: rgb(82,201,199);
  cursor: pointer;
}

.SmallButton {
  min-width: 50px;
  min-height: 20px;
  border: 1px solid white;
  border-radius: 3px;
  text-transform: capitalize;
  background-color: white;
}

.SmallButton:hover {
  background-color: rgb(82,201,199);
  cursor: pointer;
}